[submodule "latent-diffusion"]
	path = latent-diffusion
	url = https://github.com/CompVis/latent-diffusion.git
[submodule "taming-transformers"]
	path = taming-transformers
	url = https://github.com/CompVis/taming-transformers
[submodule "DiT"]
	path = DiT
	url = https://github.com/facebookresearch/DiT.git
